.card {
  transition: border-color .08s ease-in-out, transform .08s ease-in-out;
}

.card:hover {
  transform: translateY(-1px);
  border-color: var(--bs-primary);
}

.card-title {
  font-size: 1.1rem;
}

#pager button {
  border-radius: .4rem;
}
